@use './variables' as *;
@import '~bootstrap/scss/bootstrap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
#admin{
    .main-content{
        padding-top: 30px;
        display: flex;
        .projects-list{
            width: 80%;
        }
        .side-bar{
            width: 20%;
            background-color: black;
            padding: 1rem;
            a{
                color: white;
            }
        }
        .my-form {
            background-color: $warm-white;
            color: $brown;
            margin: 50px 0;
            border-radius: 3rem;
            padding: 3rem 10rem;
            input, select{
                border-radius: 5px;
                outline: none;
            }
        
            h1 {
                color: $gold;
            }
        
            * {
                font-size: 1.2rem;
                width: 100%;
                margin-bottom: 5px;
            }
        
            
        }
    }
}